* {
  Background-color: lightgray;
  font-family: Georgia; Arial; sans-serif;
}
body {
  padding: 0; 
  margin: 0;
  position: relative; 
  text-align: center;
}
.header {
  Color: purple;
}
.contactinfo {
  Color: white; 
  font-size: 26px; 
  text-align: center; 
  line-height: 0px
  width: 100%;
}
