* {
  Background-color: lightgray;
  font-family: Georgia; Arial; sans-serif;
}
body {
  padding:0; 
  margin: 0;
  position: relative; 
  text-align: center;
  font-size: auto; 
}
.header {
  Color: purple;
}
