* {
Background: url(flower.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
body {
  margin: 50px;
  text-align: center;
  padding: 50px;  
  font-family: arial, sans-serif;
}
.header {
  Color: purple;
  font-style: bold;
  text-align: center;
  font-family: georgia, sans-serif;
}
.contactinfo {
  Color: white; 
  font-size: 16px; 
  text-align: center; 
  line-height: 0px
  width: 80%;
}
#pic {
	float: right;
}
#link {
	float:right;
}
h2 {
  font-style: bold;
  background-color: black; 
  color: white;
}
h3 {
  font-style: italic; 
  text-align: left;
  width: 50%;
}
ul {
  text-align: left; 
  width:50%;
}
p {
  display: inline;
  width:50%;
}
.years {
  float: right;
}
.title {
  float: left;
}
.school {
	text-align: left;
}
